/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
gradient (#1e4f70, #f7e4bf);
*/

* {
  font-family: 'Quicksand', sans-serif;   
}

body {
 
  background: linear-gradient(#134d71,#78a7c6,#f7e4bf);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.title {
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}

.subtitle {
  text-align: center;
  color: #ffffff;
  margin-top: 80px;  
}

.middle {

  margin-left: 460px;
  background-color: white;
  height: 90px;
  width: 550px;
  border-radius: 10px;  
}

.affirmations-text {
  font-style: italic;
  margin-top: 15px;
  margin-left: 90px;
}


.radio-button-affirmations {
  float: left;
  margin-right: 12px;
}

.mantras-text {
  font-style: italic;
  margin-left: 160px;
  margin-top: 15px;
 }

 .radio-button-mantras {
  float: left;
  margin-right: 12px;
}

.receive-message-button {
  height: 30px;
  width: 190px;
  border-radius: 6px;
  background-color: #134d71;
  color: white;
  font-size: 17px;
  margin-left: 180px;
  margin-top: 10px;
}

.quote-space {
display: flex;
justify-content: center;
 height: 150px;
 width: 800px;
 background-color: #ffffff;
 margin-left: 340px;
 margin-top: 100px;
 border-radius: 10px;
}

.meditation-bell {
  transform: scale(0.6)
}

.middle-container {
  display: flex;
  margin-top: 10px;
  height: 40px;
}

.quote {
  font-size: 25px;
  margin-top: 52px;
  text-align: center;
}

.hidden {
  display: none;
}

